
@{
    ViewBag.Title = "PrintAdmitCard";
    Layout = "~/Views/Shared/Master.cshtml";
}

<link href="~/Content/customer.css" rel="stylesheet" />
<main id="main" class="main">
    <h2>PrintAdmitCard</h2>
    @ViewBag.Message
</main>
